@import '../../global.sass'

.post  
    // Layout
    padding: 0 0 30px 0
    border-radius: 5%
    @extend .card

    // Typography
    text-align: center

    // Misc Styling
    border: 2px solid rgba(120, 48, 252, 1)
    img 
        // Layout
        height: 200px
        margin-bottom: 15px
    .title 
        // Layout
        margin-bottom: 20px

        // Typography
        font-weight: 600
        @extend .text-lg
        