@import '../../global.sass'

.skill
    // Layout
    display: flex 
    flex-direction: column
    justify-content: space-between
    flex-wrap: wrap
    width: 100%
    max-width: 350px
    padding: 20px
    @extend .sm-flex-col, .md-flex-row
    .icon-bg
        // Layout
        display: flex 
        justify-content: center
        align-items: center
        height: 60px
        width: 60px
        border-radius: 50%
        margin-bottom: 5px

        // Misc Styling
        @extend .gradient-bg
        .icon 
            // Layout
            height: 40px
            width: 40px
    h1 
        // Typography
        font-weight: 600
        @extend .text-xl
    .text 
        // Typography
        color: rgb(50, 50, 50)
        @extend .sm-text-base, .md-text-lg, .lg-text-xl
    .shortLine 
        // Layout
        width: 50px
        height: 3px
        border-radius: 15%
        margin: 10px 0 10px 0

        // Misc Styling
        background-color: rgba(120, 48, 252, .8)