@import '../../global.sass'

.project 
    // Layout
    border-radius: 5%
    @extend .card, .center

    // Misc Styling
    img 
        // Layout
        height: 250px

        // Misc Styling
        @extend .shadow-xl
    .not-complete 
        // Layout
        margin-top: 10px

        // Typography
        color: rgba(255, 0, 0, .8)
    