@import '../../global.sass'

.contact 
    // Layout
    display: flex 
    flex-direction: column 
    align-items: center
    .contact-form 
        // Layout
        display: flex 
        flex-direction: column 
        align-items: center
        height: 80vh
        max-height: 500px
        input, textarea 
            // Layout
            width: 90vw
            max-width: 600px
            margin-top: 10px
            padding: 5px

            // Typography
            font-weight: 600
            @extend .text-gray-800

            // Misc Styling
            background-color: rgba(120, 48, 252, .01)
            border-bottom: 2px solid rgba(120, 48, 252, .2)
            &:focus
                border-bottom: 2px solid rgba(120, 48, 252, .8)
        textarea 
            // Layout
            height: 100%
            margin-bottom: 15px

    .social 
        // Layout
        display: flex 
        justify-content: space-around
        align-items: center 
        width: 70vw
        max-width: 500px
        margin: 15px 0 15px 0
        .circle 
            // Layout
            display: flex 
            justify-content: space-around
            align-items: center 
            height: 50px
            width: 50px
            border-radius: 50%

            // Misc Styling
            box-shadow: $shadow
            background: rgb(164,48,252)
            background: linear-gradient(to top, rgba(164,48,252,0.6) 14%, rgba(120,48,252,.9) 100%)

            // Animation
            transition: 1s ease-in-out
            &:hover 
                // Misc Styling
                @extend .gradient-bg
        img 
            // Layout
            height: 30px
            width: 30px
    .copyright 
        // Layout
        margin: 15px

        // Typography
        font-weight: 200