@import '../../global.sass'

.SectionTitle
    // Layout
    display: flex
    justify-content: space-around
    align-items: center 
    margin-top: 15px
    .line 
        // Layout
        height: 2px
        width: 80%
        margin: 15px

        // Misc Styling
        background-color: grey
    h1 
        // Typography
        @extend .text-2xl