@import '../../global.sass'

.about 
    // Layout
    padding: 35px 10vw 35px 10vw
    min-height: 400px 
    height: 100%
    display: flex 
    flex-direction: column 
    justify-content: space-around
    align-items: center

    // Typography
    font-weight: 600
    text-align: center
    color: #fff 
    @extend .text-xl

    // Misc Styling
    background-image: url(../../assets/mini-space-bg.svg)
    background-repeat: no-repeat
    background-position: center
    background-attachment: fixed
    background-size: cover
    .SectionTitle 
        // Layout
        margin-top: -50px
        h1
            // Typography
            color: #fff !important
    .SectionTitle .line
        // Typography
        background-color: #fff !important
    p 
        // Layout
        margin-bottom: 15px

        @extend .container, .md-px-20, .lg-px-40
    .btn 
        // Layout
        @extend .sm-mt-6, .md-mt-3, .lg-mt-0

        // Typography
        color: #fff
        border-color: #fff
        &:hover 
            // Misc Styling
            background: #fff
            color: rgb(164,48,252)
            