@import '../../global.sass'

.about 
    // Layout
    padding: 35px 10vw 35px 10vw
    min-height: 400px
    @extend .center

    // Typography
    font-weight: 600
    text-align: center
    color: #fff 
    @extend .text-xl

    // Misc Styling
    background-image: url(../../assets/mini-bg.jpg)
    background-repeat: no-repeat
    background-position: center bottom
    background-attachment: fixed
    background-size: cover
    .SectionTitle h1
        // Typography
        color: #fff !important
    .SectionTitle .line
        // Typography
        background-color: #fff !important
    p 
        // Layout
        @extend .container, .md-px-20, .lg-px-40