@import '../../global.sass'
.navbar 
    // Layout
    display: flex 
    justify-content: space-between
    align-items: center
    width: 100vw
    height: 100px
    padding: 0 15px 0 15px
    position: absolute 
    top: 0

    .profile-pic 
        // Layout
        height: 65px
        width: 65px
        border-radius: 50%
    .burger 
        // Layout
        height: 40px  
        width: 40px

        // Misc Styling
        cursor: pointer