@import '../../global.sass'

.navbar 
    // Layout
    display: flex 
    align-items: center
    width: 100vw
    height: 60px
    position: fixed
    top: 0
    z-index: 10
    @extend .sm-justify-between, .md-justify-around

    // Misc Styling
    @extend .shadow-2xl
    .profile-pic 
        // Layout
        height: 55px
        width: 55px
        border-radius: 50%
        @extend .sm-ml-8
    .burger 
        // Layout
        height: 40px  
        width: 40px
        @extend .md-hidden 
        @extend .sm-mr-8

        // Misc Styling
        cursor: pointer
    .links 
        // Layout
        display: flex
        justify-content: space-around
        @extend .sm-w-full
        @extend .sm-flex-col, .md-flex-row
        @extend .sm-absolute, .md-relative
        @extend .sm-items-center

        // Typography
        @extend .text-xl
        @extend .sm-text-black

        // Misc Styling
        @extend .sm-bg-white, .md-bg-transparent
        @extend .sm-shadow-2xl
        a 
            // Layout
            @extend .sm-py-4, .md-py-0

@media screen and (max-width: 650px)
    .links 
        margin-top: 370px
